* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  --azul: #0f637a;
  --amarelo: #ffd900;
}

.navbar {
  background-color: var(--azul);
  display: flex;
  min-height: 64px;
  padding: 12px;
  justify-content: space-between;
}

.navbar-brand img {
  height: 36px;
  
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-burger {
  font-size: 20px;
  cursor: pointer;
  color: white;
  display: none;
}

.navbar-link {
  text-decoration: none;
  color: white;
  padding: 0 4px;
}

.navbar-link:hover {
  opacity: 0.87;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-burger {
    display: inline;
  }

  .navbar-brand {
    justify-content: space-between;
  }

  .navbar, .navbar-menu {
    flex-direction: column;
  }

  .navbar-link {
    padding: 8px 0;
  }

}

.ativa {
  display: flex;
}


